.layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;}
.articles-img-delete{position: absolute;margin: 5px 0 0 -40px;font-size: 24px;}
a:hover{color: #0056b3;}
.layui-table th,td{text-align: center;}